section{background-color:#ecf0f1;padding:50px 30px 30px;margin:0;border-top-right-radius:5px;border-top-left-radius:5px}section p{margin:0}
.footer,footer{padding:30px;background-color:#3498db;border-bottom-right-radius:5px;border-bottom-left-radius:5px}
footer div{min-height:60px;background-color:#fff;text-align:center;padding:22px}
footer div:not(:first-child){margin-top:20px}


